hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link_container {
    margin-top: -10px;
}

.post-box{
    margin-left: -14px;
}

h3 {
    margin-top: 10px;
}

.fag_label_container {
    margin: 0px 0px 0px -20px;
}

.fag_label_h4 {
    margin: 0px;
}

.hr_container {
    padding: 0px;
}

.readmore {
    font-size: 12px;
    color: #888;
}

.readmore_container {
    padding-top: 10px;
}

.thumbnail {
border: 1px solid #ddd;
    /* background-color: white; */
}

.tag_label_container {
    padding: 0px;
    display: block;
    float: left;
    margin: -10px 0 0 2px;
    width: 100%;
}

.tag_label {
    margin-right: 8px;
    margin-bottom: -6px;
}

.btn_overblik {
    margin-left: 0px;
    margin-top: 30px;
    /* bottom: -13px; */
}

.input_text {
    height: 33px;
    width: 60%;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.btn-search {
    margin-left: 1%;
    margin-top: -3px;
}

.seach_container {
    margin-bottom: 2%;
}

.fag_btn_container{
    margin-bottom: 0px;
    width: 60%;
}

.btn-fag{
    margin-bottom: 20px;
}
.tn_container{
    margin-bottom: 70px;
}

#UserMsgBox {
    border: 0 solid silver;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    line-height: 1.5em;
    position: absolute;
    max-height: 90%;
    overflow: auto;
    max-width: auto;
}

#UserMsgBox, .OverlayTextContainer {
    max-width: 1170px;
    right: 0;
    left: 0;
    cursor: pointer;
}
.cropped{
    height: 130px;
}
body{
    background-color: white;
}

.btn-link_kat{
    color:black;
    margin-right: 4px;
}

a {
    color: black; 
}



