hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link_container {
    margin-top: -10px;
    margin-bottom: 20px;
}

.inner_inputcontainer {
    width: 100%;
}

.post-box {
    margin-left: -14px;
}

h3 {
    margin-top: 10px;
}

.fag_label_container {
    margin: 0px 0px 0px -20px;
}

.fag_label_h4 {
    margin: 0px;
}

.hr_container {
    padding: 0px;
}

.readmore {
    font-size: 12px;
    color: #888;
}

.readmore_container {
    padding-top: 10px;
}

.thumbnail {
    border: 1px solid #ddd;
    /* background-color: white; */
}

.tag_label_container {
    padding: 0px;
    display: block;
    float: left;
    margin: -10px 0 0 2px;
    width: 100%;
}

.tag_label {
    margin-right: 8px;
    margin-bottom: -6px;
}

.btn_overblik {
    margin-left: 0px;
    margin-top: 30px;
    /* bottom: -13px; */
}

.input_text {
    height: 33px;
    width: 79%;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    max-width: 600px;
}

.btn-search {
    margin-left: 1%;
    margin-top: -3px;
    height: 33px;
}

.seach_container {
    margin-bottom: 2%;
    margin-left: -12px;
}

.fag_btn_container {
    margin-bottom: 8px;
    margin-left: -14px;
}

.btn-fag {
    margin-bottom: 15px;
    margin-right: 15px;
}

.tn_container {
    margin-bottom: 0px;
}

#UserMsgBox {
    border: 0 solid silver;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    line-height: 1.5em;
    position: absolute;
    max-height: 90%;
    overflow: auto;
    max-width: auto;
}

#UserMsgBox,
.OverlayTextContainer {
    max-width: 1170px;
    right: 0;
    left: 0;
    cursor: pointer;
}

body {
    background-color: white;
}

.btn-link_kat {
    margin-right: 5px;
    margin-bottom: -6px;
    cursor: pointer;
}

.objektinfo {
    padding-top: 10px;
}

.content_wrapper {
    padding: 0px 130px 0px 40px;
}

.search_loader {
    margin-top: 40%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 28px 28px 26px 28px;
    border-radius: 6px;
    font-size: 16px;
    color: #666;
}

.blurred {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.closeinput {
    margin-left: -24px;
    border-radius: 0px;
    color: #b1b1b1;
    background-color: rgba(255, 255, 255, .8);
    padding: 2px;
}

.search_container {
    margin-bottom: 20px;
    margin-left: -13px;
}

.eks_header {
    margin-bottom: 30px;
    margin-top: -40px;
}

.btn-search_embed {
    margin-top: -3px;
    height: 33px;
    margin-left: 20px;
}

@media (max-width: 750px) {
    .btn-search_embed {
        margin-top: 7px;
    }
    .btn-search {
        margin-left: 1%;
        /*margin-top: 7px;*/
    }
}

.medarbejder_container {
    padding: 0px;
    margin-left: 8%;
    margin-top: 50px;
}

.embed_search {
    width: 70%;
}

.closeinput_embed {
    margin-left: -45px;
}

.btn-link_kat > a:hover {
    text-decoration: none;
}

.hr_line {
    border-top: 1px solid #D8EEEF;
    padding: 9px;
    margin-top: 30px;
    margin-right: 30px;
}


}
.maillink {
    color: black;
    text-decoration: underline;
}
.maillink:hover {
    color: #05A0A8;
    text-decoration: underline;
}
#copy_href {
    color: black;
}
#UserMsgBox {
    width: 95%;
    max-width: 760px;
    padding: 30px 0px 40px 0px;
}
.logoer {
    margin-bottom: 30px;
}
#vucCarousel {
    color: green;
    margin-bottom: 50px;
}
.video_embed {
    margin-top: 30px;
}
.main_content {
    margin-top: -30px;
}
.logo_text_embed {
    font-size: 20px;
    left: 85px;
    top: 19px;
    position: absolute;
    color: white;
}
.v_logo_embed {
    height: 85px;
}
.top_header_embed {
    height: 57px;
}
.btn-embed {
    margin: 4px;
}
.luksus_btn-search {}
.luksus_input_text {
    width: 73%;
    margin-left: 3px;
}
.slogan {
    font-size: 12px;
    margin-left: -10px;
}
#vucCarousel {
    margin-top: 20px;
}
@media (max-width: 363px) {
    .btn-search_embed {
        margin-left: 0px;
    }
    
    .inner_inputcontainer_embed_raw {
        margin: 5px;
    }
    
    .search_textfield {
        width: 100%;
    }
    
    .closeinput {
        display: none;
    }
}
.search_textfield {
    margin-bottom: 10px;
}
.big_link {
    margin-top: 10px;
    margin-bottom: 18px;
    float: left;
}
.small_link {
    margin-left: 12px;
    font-size: 14px;
    float: left;
    line-height: 1.4;
    margin-top: 13px;
}
.embed_cont_fluid {
    padding-top: 0px;
}
h2 {
    margin-top: 20px;
}
.no_result_container {
    margin-bottom: 20px;
}
.materiale_container {
    margin-left: -10px;
}
